# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Shell scripts must use LF
[*.sh]
end_of_line = lf

# Environment files must use LF
[.env*]
end_of_line = lf

# C# files
[*.cs]
end_of_line = lf
indent_style = space
indent_size = 4

# JSON files
[*.json]
end_of_line = lf
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
end_of_line = lf
indent_style = space
indent_size = 2
