/.vs
/Application.Tests/bin
/Application/bin/Debug/net8.0
/Application/obj
/Application.Tests/obj
/Core/bin/Debug/net8.0
/Core/obj
/Data/obj
/Data/bin/Debug/net8.0
**/bin/
**/obj/
**/TestResults/*
.DS_Store
.idea/
**/appsettings.Local.json
*.DotSettings.user
*.csproj.user