# ---- [ Postgres ] ----
POSTGRES_USER=comedypull
POSTGRES_PASSWORD=comedypull
POSTGRES_DB=comedypull

# ---- [ RabbitMQ ] ----
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=password

# ---- [ Seq ] ----
SEQ_PASSWORD=comedypull
